<form class="question-create" [formGroup]="questionForm">
  <div class="question-create-title page-title">{{ action | titlecase }} Question</div>
  <div class="question-create-body">
    <div class="body-item">
      <mat-label>Type:</mat-label>
      <mat-radio-group formControlName="type">
        <mat-radio-button [checked]="selectedTypeId === i" color="primary" *ngFor="let option of typeOptions; index as i"
        [value]="option.value" >{{ option.value }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="body-item">
      <mat-label>Header</mat-label>
      <mat-form-field appearance="fill">
        <textarea matInput formControlName="question" placeholder="Please input question"></textarea>
      </mat-form-field>
      <mat-error *ngIf="questionForm.controls['question'].hasError('required') && questionForm.controls['question'].touched">
       <span class="warning-text">Question field cannot be empty</span>
      </mat-error>
    </div>
    <div class="body-item" *ngIf="questionType !== EQuestionType.open">
      <mat-label>Options</mat-label>
      <mat-form-field appearance="fill">
        <input matInput formControlName="option" placeholder="Please input option" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addOption()">Add option</button>
    </div>
    <div class="body-item" *ngIf="options.length">
      <ul class="option-list">
        <li *ngFor="let option of options; index as i">
          <mat-icon class='clickable' (click)="deleteOption(i)">close</mat-icon>
          <span>{{ option }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="question-create-actions">
    <button mat-raised-button color="primary" (click)="addQuestion()" [disabled]="!questionForm.valid">{{ action | titlecase }}</button>
    <button routerLink="/question-management" mat-raised-button color="primary">Cancel</button>
  </div>
</form>
