@import "src/styles/colors";

.question-create {
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .question-create-body {
      display: flex;
      justify-content: space-around;
    }

    mat-label {
      display: flex;
      justify-content: center;
    }

    mat-icon {
      margin: 4px;
    }

    mat-radio-group {
      display: flex;
      justify-content: center;
      margin: 15px 5px;
      mat-radio-button {
        margin: 5px 30px;
      }
    }

    .clickable {
      cursor: pointer;
    }

    .body-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
      width: 100%;
      max-width: 500px;

      .option-list {
        li {
          display: flex;
          align-items: center;

          mat-icon {
            margin-left: 10px;
          }
        }
      }

      button {
        max-width: 150px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .warning-text {
        font-size: 10px;
      }

      mat-label {
        font-weight: bold;
        margin-bottom: 10px;
      }

      mat-radio-group mat-radio-button {
        margin-right: 10px;
      }

      mat-radio-group mat-radio-button:last-child {
        margin-right: 0;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

