@import "src/styles/colors";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;

  &-logo {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    color: rgba($black, 0.8);
  }

  &-menu {
    &-list {
      display: flex;

      a.list-item {
        margin-right: 45px;
        font-size: 16px;

        &.active-link {
          font-weight: bold;
        }

        &:last-child {
          margin-right: 0;
        }

        &, &:active, &:focus, &:visited {
          color: rgba($black, 0.5);
          text-decoration: none;
        }

        li {
          list-style-type: none;
        }
      }
    }
  }
}

