$red: red;
$green: green;
$yellow: yellow;
$orange: orange;
$blue: blue;
$white: white;
$black: black;

$primary-light: #BEB7FB;
$primary: #5A4AF4;
$primary-dark: #120F31;

$secondary-light: #A5DBFE;
$secondary: #1EA5FC;
$secondary-dark: #062032;

$tertary-light: #E2C5FF;
$tertary: #B66DFF;
$tertary-dark: #241633;

$success-light: #9BEBD3;
$success: #05CE91;
$success-dark: #01291D;

$error-light: #FFC0C0;
$error: #FF6161;
$error-dark: #331313;

$warning-light: #FFDEB6;
$warning: #FFAD49;
$warning-dark: #33230F;

$black-light: #222222;
$black: #161616;
$black-dark: #000000;

$white: #FFFFFF;
$grey-light: #A8AEBF;
$grey: #61697F;
$grey-dark: #121829;

$shadows: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;