<div class="item">
  <p class="item-question">Question: {{itemData.data.question}}</p>
  <p class="item-type" *ngIf="isManagement">Question type: {{itemData.type}}</p>
  <p class="item-data-answer" *ngIf="isAnswered">Answer: {{itemData.data.answer}}</p>
  <p class="item-date" *ngIf="isManagement">Created at: {{itemData.createAt | date: 'short'}}</p>

  <div class="item-management">
    <div class="buttons-group">
      <button mat-raised-button color="primary"
        *ngIf="isManagement"
        (click)="openModal(itemData.id)">Delete
      </button>
      <button mat-raised-button color="primary"
        *ngIf="isManagement"
        (click)="editQuestion(itemData.id)">Edit
      </button>
    </div>


    <div *ngIf="!isActive" class="item-answer" [formGroup]="answerForm">
      <div *ngIf="itemData.type === EQuestionType.single">
        <mat-radio-group  class="item-answer">
          <mat-radio-button *ngFor="let option of itemData.data.options" color="primary"
            [value]="option" [(ngModel)]="singleOption"
            [ngModelOptions]="{standalone: true}" ngDefaultControl>{{option}}
          </mat-radio-button>
          <button mat-raised-button color="primary"
            (click)="addAnswer(itemData.id)">Add</button>
        </mat-radio-group>
      </div>

      <ng-container *ngIf="itemData.type === EQuestionType.multiple">
          <section *ngFor="let option of multipleOptions;index as idx">
            <p><mat-checkbox formControlName="open" color="primary" [value]="option.name"
              [checked]="option.isChecked"
              (change)="selectOption(idx)"
              >{{option.name}}</mat-checkbox></p>
          </section>
          <button mat-raised-button color="primary"
            
            (click)="addAnswer(itemData.id)">Add</button>
      </ng-container>

      <div *ngIf="itemData.type === EQuestionType.open">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Answer</mat-label>
          <input formControlName="open" matInput placeholder="Answer" >
        </mat-form-field>
        <button mat-raised-button color="primary"

        (click)="addAnswer(itemData.id) ">Add</button>
      </div>
    </div>
    <button mat-raised-button color="primary"
      *ngIf="!isManagement && isActive && !isAnswered"
      (click)="isActive = !isActive"
      >Add answer
    </button>
    <button mat-raised-button color="primary"
      *ngIf="isAnswered"
      (click)="deleteAnswer(itemData.id)">Delete answer
    </button>
  </div>
</div>