
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Questionnaire-primary: mat.define-palette(mat.$indigo-palette);
$Questionnaire-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Questionnaire-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Questionnaire-theme: mat.define-light-theme((
  color: (
    primary: $Questionnaire-primary,
    accent: $Questionnaire-accent,
    warn: $Questionnaire-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Questionnaire-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "styles/colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
}

simple-snack-bar{
  .mat-simple-snack-bar-content, .mat-simple-snackbar-action{
    color: $white;
  }
}

.success-toast {
  background-color: $success-light !important;
  color: $black-dark !important;
  button {
      background-color: $success !important;
      color: $black-dark !important;
  };
}
.error-toast {
  background-color: $error-light !important;
  color: $black-dark !important;
  button {
    background-color: $error !important;
    color: $black-dark !important;
  };
}
